Source: ros-kinetic-webrtc-ros
Section: misc
Priority: optional
Maintainer: Timo Röhling <timo.roehling@fkie.fraunhofer.de>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-async-web-server-cpp, ros-kinetic-catkin, ros-kinetic-cv-bridge, ros-kinetic-image-transport, ros-kinetic-message-generation, ros-kinetic-nodelet, ros-kinetic-roscpp, ros-kinetic-std-msgs, ros-kinetic-webrtc (>= 59.0.0)
Homepage: http://wiki.ros.org/webrtc_ros
Standards-Version: 3.9.2

Package: ros-kinetic-webrtc-ros
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-async-web-server-cpp, ros-kinetic-cv-bridge, ros-kinetic-image-transport, ros-kinetic-message-runtime, ros-kinetic-nodelet, ros-kinetic-roscpp, ros-kinetic-std-msgs, ros-kinetic-webrtc (>= 59.0.0)
Description: A collection of ROS utilities for using WebRTC with ROS
